/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_opacity.scss */
.opacity-5 {
  opacity: 0.5;
}
/* line 5, ../sass/partials/_opacity.scss */
.opacity-6 {
  opacity: 0.6;
}
/* line 8, ../sass/partials/_opacity.scss */
.opacity-7 {
  opacity: 0.7;
}
/* line 11, ../sass/partials/_opacity.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 14, ../sass/partials/_opacity.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 2, ../sass/partials/_modules.scss */
.about-s3 {
  background-position: center !important;
}
/* line 5, ../sass/partials/_modules.scss */
.about-s5 {
  background-position: center !important;
}

/* line 10, ../sass/partials/_modules.scss */
.contact-s2 {
  background-position: center !important;
}
/* line 13, ../sass/partials/_modules.scss */
.contact-s3 {
  background-color: #999 !important;
  background-blend-mode: multiply !important;
}

/* line 19, ../sass/partials/_modules.scss */
.index-s3 {
  background-position: center !important;
}

/* line 24, ../sass/partials/_modules.scss */
.product-s2, .promo-s2 {
  background-position: center !important;
}

/* line 28, ../sass/partials/_modules.scss */
textarea {
  resize: none;
}

@media all and (max-width: 767px) {
  /* line 33, ../sass/partials/_modules.scss */
  .about-s1, .about-s2, .about-s3, .about-s4, .about-s5 {
    background-color: #999 !important;
    background-blend-mode: multiply !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 34, ../sass/partials/_modules.scss */
  .about-s1 *, .about-s2 *, .about-s3 *, .about-s4 *, .about-s5 * {
    color: #fff !important;
  }
  /* line 41, ../sass/partials/_modules.scss */
  .about-s1, .about-s3, .about-s4 {
    background-position: right !important;
  }

  /* line 46, ../sass/partials/_modules.scss */
  .contact-s1, .contact-s2 {
    background-color: #999 !important;
    background-blend-mode: multiply !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 47, ../sass/partials/_modules.scss */
  .contact-s1 *, .contact-s2 * {
    color: #fff !important;
  }
  /* line 54, ../sass/partials/_modules.scss */
  .contact-s1 {
    background-position: right !important;
  }
  /* line 57, ../sass/partials/_modules.scss */
  .contact-s2 {
    background-position: left !important;
  }

  /* line 62, ../sass/partials/_modules.scss */
  .index-s1, .index-s3, .index-s5, .index-s6 {
    background-color: #999 !important;
    background-blend-mode: multiply !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 63, ../sass/partials/_modules.scss */
  .index-s1 *, .index-s3 *, .index-s5 *, .index-s6 * {
    color: #fff !important;
  }

  /* line 72, ../sass/partials/_modules.scss */
  .navbar-nav {
    background-color: #999 !important;
    border: 1px solid #666 !important;
    color: #333 !important;
    padding: 10px;
  }
  /* line 73, ../sass/partials/_modules.scss */
  .navbar-nav *:hover {
    opacity: 0.8;
  }

  /* line 83, ../sass/partials/_modules.scss */
  .product-s1, .product-s2, .product-s3, .product-s4, .product-s5, .product-s6 {
    background-color: #999 !important;
    background-blend-mode: multiply !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 84, ../sass/partials/_modules.scss */
  .product-s1 *, .product-s2 *, .product-s3 *, .product-s4 *, .product-s5 *, .product-s6 * {
    color: #fff !important;
  }
  /* line 91, ../sass/partials/_modules.scss */
  .product-s1 {
    background-position: right !important;
  }

  /* line 96, ../sass/partials/_modules.scss */
  .promo-s1, .promo-s2, .promo-s3, .promo-s4 {
    background-color: #999 !important;
    background-blend-mode: multiply !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 97, ../sass/partials/_modules.scss */
  .promo-s1 *, .promo-s2 *, .promo-s3 *, .promo-s4 * {
    color: #fff !important;
  }
  /* line 104, ../sass/partials/_modules.scss */
  .promo-s1, .promo-s3 {
    background-position: right !important;
  }
}
/* line 31, ../sass/partials/_mixins.scss */
.about-s1 {
  background-attachment: scroll;
  background-image: url(../img/about/about-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.about-s2 {
  background-attachment: scroll;
  background-image: url(../img/about/about-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.about-s3 {
  background-attachment: scroll;
  background-image: url(../img/about/about-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.about-s4 {
  background-attachment: scroll;
  background-image: url(../img/about/about-s4.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.about-s5 {
  background-attachment: scroll;
  background-image: url(../img/about/about-s5.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.comingsoon-s1 {
  background-attachment: scroll;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s1 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s2 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s3 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.error-s1 {
  background-attachment: scroll;
  background-image: url(../img/error.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s1 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s2 {
  background-attachment: scroll;
  background-image: url();
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s3 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s4 {
  background-attachment: scroll;
  background-image: url();
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s5 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s5.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s6 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s6.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.privacy-s1 {
  background-attachment: scroll;
  background-image: url(../img/privacy.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.product-s1 {
  background-attachment: scroll;
  background-image: url(../img/product/product-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.product-s2 {
  background-attachment: scroll;
  background-image: url(../img/product/product-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.product-s3 {
  background-attachment: scroll;
  background-image: url(../img/product/product-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.product-s4 {
  background-attachment: scroll;
  background-image: url(../img/product/product-s4.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.product-s5 {
  background-attachment: scroll;
  background-image: url(../img/product/product-s5.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.product-s6 {
  background-attachment: scroll;
  background-image: url(../img/product/product-s6.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.promo-s1 {
  background-attachment: scroll;
  background-image: url(../img/promo/promo-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.promo-s2 {
  background-attachment: scroll;
  background-image: url(../img/promo/promo-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.promo-s3 {
  background-attachment: scroll;
  background-image: url(../img/promo/promo-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.promo-s4 {
  background-attachment: scroll;
  background-image: url(../img/promo/promo-s4.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.user-s1 {
  background-attachment: scroll;
  background-image: url(../img/user/user-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 4, ../sass/partials/_modules_init.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}
