.about{
    &-s3{
        background-position: center!important;
    }
    &-s5{
        background-position: center!important;
    }
}
.contact{
    &-s2{
        background-position: center!important;
    }
    &-s3{
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}
.index{
    &-s3{
        background-position: center!important;
    }
}
.product,.promo{
    &-s2{
        background-position: center!important;
    }
}
textarea{
    resize: none;
}
@media all and (max-width: 767px){
    .about{
        &-s1,&-s2,&-s3,&-s4,&-s5{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
        }
        &-s1,&-s3,&-s4{
            background-position: right!important;
        }
    }
    .contact{
        &-s1,&-s2{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
        }
        &-s1{
            background-position: right!important;
        }
        &-s2{
            background-position: left!important;
        }
    }
    .index{
        &-s1,&-s3,&-s5,&-s6{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
        }
    }
    .navbar{
        &-nav{
            *:hover{
                opacity: 0.8;
            }
            background-color: #999!important;
            border: 1px solid #666!important;
            color: #333!important;
            padding: 10px;
        }
    }
    .product{
        &-s1,&-s2,&-s3,&-s4,&-s5,&-s6{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
        }
        &-s1{
            background-position: right!important;
        }
    }
    .promo{
        &-s1,&-s2,&-s3,&-s4{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
        }
        &-s1,&-s3{
            background-position: right!important;
        }
    }
}