$prefix: "../img/";
$bg__about-img: 
    $prefix+"about/about-s1.jpg",
    $prefix+"about/about-s2.jpg",
    $prefix+"about/about-s3.jpg",
    $prefix+"about/about-s4.jpg",
    $prefix+"about/about-s5.jpg";
$bg__comingsoon-img: "../img/coming.jpg";
$bg__contact-img: 
    $prefix+"contact/contact-s1.jpg",
    $prefix+"contact/contact-s2.jpg",
    $prefix+"contact/contact-s3.jpg";
$bg__error-img: "../img/error.jpg";
$bg__index-img: 
    $prefix+"index/index-s1.jpg",
    "",
    $prefix+"index/index-s3.jpg",
    "",
    $prefix+"index/index-s5.jpg",
    $prefix+"index/index-s6.jpg";
$bg__privacy-img: "../img/privacy.jpg";
$bg__product-img: 
    $prefix+"product/product-s1.jpg",
    $prefix+"product/product-s2.jpg",
    $prefix+"product/product-s3.jpg",
    $prefix+"product/product-s4.jpg",
    $prefix+"product/product-s5.jpg",
    $prefix+"product/product-s6.jpg";
$bg__promo-img: 
    $prefix+"promo/promo-s1.jpg",
    $prefix+"promo/promo-s2.jpg",
    $prefix+"promo/promo-s3.jpg",
    $prefix+"promo/promo-s4.jpg";
$bg__user-img: $prefix+"user/user-s1.jpg";
$bg__classes:
    "about",
    "comingsoon",
    "contact",
    "error",
    "index",
    "privacy",
    "product",
    "promo",
    "user";
$bg__aoa:
    $bg__about-img,
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__privacy-img,
    $bg__product-img,
    $bg__promo-img,
    $bg__user-img;
$color__shadow: #333;
$text-shadow: 1px 1px 3px $color__shadow; 